{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<div>
    <h1>{{ user.first_name }}'s Profile</h1>
    <div class="col-md-4">
        <table class="table table-condensed">
            <tr class="row">
                <td>{% trans "Name" %}:</td>
                <td>{{ user.get_full_name }}</td>
            </tr>
            <tr class="row">
                <td>{% trans "Email" %}:</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr class="row">
                <td>{% trans "Username" %}:</td>
                <td>{{ user.username }}</td>
            </tr>
        </table>
    </div>

    <div>
        <h3>{% trans "Activity" %}</h3>

    </div>

</div>

{% endblock %}