{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
{% endblock %}

{% block title %}
{% trans "Settings" %}
{% endblock %}

{% block content %}
<h1 class="h1">{% trans "Settings" %}</h1>
<form data-id="settings-form">
    <div>{% csrf_token %}</div>
    <table class="table">
        <tr class="form-group">
            <td>
                <label class="control-label">{% trans "Language" %}</label>
            </td>
            <td>
                {% render_field form.language class+="form-control" %}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="button" data-id="saveBtn" class="btn btn-success btn-lg" value="{% trans 'Save' %}"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'users/js/settings.js'%}"></script>
{% endblock %}