{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
{% trans "New Product" %} - {{ block.super }}
{% endblock %}

{% block heading %}
{% trans "New Product" %}
{% endblock %}

{% block content %}

<form>
    <div>{% csrf_token %}</div>
    <div class="form-group">
        <label class="control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}:</label>
        {% render_field form.name class+="form-control" %}
    </div>

    <div class="col-md-12">
        <input type="button" id="saveBtn" class="btn btn-success btn-lg pull-right" value="Save"/>
    </div>
</form>

{% endblock %}

{%block scripts %}

<script src="{% static 'products/js/createProduct.js' %}"></script>

{% endblock %}
