{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
{{ product.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
{% trans "Products" %}
{% endblock %}

{% block content %}

<table class="col-md-12">
    <tbody>
        <tr>
            <td class="col-md-6">
                {% trans "Name" %}
            </td>
            <td class="col-md-6">
                {{ product.name }}
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}

{%block scripts %}

{% endblock %}
