{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
{% trans "Products" %} - {{ block.super }}
{% endblock %}

{% block heading %}
{% trans "Products" %}
{% endblock %}

{% block content %}

<ul>
{% for product in products %}
    <li>
        <div class="product">
            <a href="{{product.id}}"> {{product.name}} </a>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}

{%block scripts %}

{% endblock %}
