/* Base color: #d35400 */

a, label, p, textarea,
input, select, div{
    font-size: 20px !important;
}

body {
    padding-top: 70px;
    /*background-color: #ffe4d3;*/
}

/* Navigation Bar */

.navbar {
    background-color: #ff6a07;
}

.navbar .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:not(.btn):hover,
.navbar-default .navbar-nav > .active > a:not(.btn):focus,
.navbar-default .navbar-nav > li > a:not(.btn):hover,
.navbar-default .navbar-nav > li > a:not(.btn):focus,
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #0b5921;
    border-top-color: #0b5921;
    color: #0b5921;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 7px;
}

.inner-container {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin-left: 75px;
    margin-right: 75px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, a, .td-name, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: lato, sans-serif;
}

input, button, select, textarea {
    font-family: lato, sans-serif;
}

.btn-success {
    border-radius: 4px;
    background-color: #05AE0E;
    color: #fff;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus {
    background-color: #049F0C;
    color: #FFF;
    border-color: #049F0C;
}