.remove {
    border: 0px;
    font-size: 17px;
}

.step-label,
.ingredient-label {
    height: 40px;
    padding: 8px 16px;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
}

.divider {
    border-top: 1px solid #0b5921;
    width: 100%;
    margin: 0px;
    margin-left: 15px;
}

.added-ingredient .form-group {
    margin-bottom: 0px;
}

.btn-success {
    background-color: #05AE0E;
    color: #fff;
}

