body {
    background-color: #ffe4d3;
}

.login-box {
  padding: 30px;
  max-width: 400px;
  width: 100% !important;
  /*background-color: #F7F7F7;*/
  background-color: #FFF;
  margin: 150px auto;
  border-radius: 5px;
  /**box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);/**/
  overflow: hidden;
  float: none;
}

.login-box h1{
    margin: 0px;
    margin-bottom: 10px;
}

.login-box input:not([type=button]){
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 0px;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-box input([type=button]) {
    margin-bottom: 20px;
}

.login-box input:hover:not([type=button]){
  border: 0px;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}