.recipe-container {
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: 15px;

}

@media (max-width: 991px){
    .recipe-container {
        margin-right: 0px;
        margin-left: 0px;
        float: left !important;
    }
}

.recipe-container :not(h3) {
    font-size: 18px !important;
    margin: 2px 0px;
}

.recipe-container img {
    width: 100%;
    margin-top: 15px;
}

.recipe-container .recipe-title {
    color: #0b5921;
    font-size: 28px !important;
}

.recipe-container .label {
    border: none;
    background: transparent;
    color: #999999;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 3px;
}

.recipe-container div:last-child {
    margin-bottom: 20px;
}