{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% endblock %}

{% block heading %}
{{ title }}
{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <div>
        {{ content | safe }}
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}