{% extends 'base.html' %}
{% load i18n %}

{% block styles %}
{% endblock %}

{% block heading %}
{% trans "Help" %}
{% endblock %}

{% block title %}
{% trans "Help" %}
{% endblock %}

{% block content %}

    <h1>{% trans "Help" %}</h1>

    <ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
{% endblock %}