<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Recetas{% endblock %}</title>

    <meta name="google-signin-client_id" content="571159584976-ut4cecgv1majmo3j0f9nv49t7gsp2lu7.apps.googleusercontent.com">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'getshitdone/css/gsdk.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/base.css' %}" />
    {% block styles %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/recipes">{% trans "Recipes" %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">
                  {% trans "Recipes" %} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/recipes">{% trans "View recipes" %}</a></li>
                {% if perms.recipes.can_add_recipe %}
                <li><a href="/recipes/new">{% trans "Create new recipe" %}</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">
                  {% trans "Products" %} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/products">{% trans "View products" %}</a></li>
                {% if perms.recipes.can_add_product %}
                <li><a href="/products/new">{% trans "Create new product" %}</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
          <!--<form class="navbar-form navbar-left">-->
            <!--<div class="form-group">-->
              <!--<input type="text" class="form-control" placeholder="Search">-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-default">Submit</button>-->
          <!--</form>-->
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">{{ request.user.first_name |title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/users/profile/{{ user.username }}">{% trans "My Profile" %}</a></li>
                <li><a href="/recipes/user?username={{ user.username }}">{% trans "My Recipes" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/users/settings">{% trans "Settings" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" onclick="logout();">{% trans "Logout" %}</a></li>
              </ul>
            </li>
          {% else %}
            <li>
                <a href="/login">{% trans "Login" %}</a>
            </li>
          {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<script src="{% static 'jquery-3.2.1.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

<script src="{% static 'getshitdone/js/custom.js' %}"></script>
<script src="{% static 'getshitdone/js/gsdk-bootstrapswitch.js' %}"></script>
<script src="{% static 'getshitdone/js/gsdk-checkbox.js' %}"></script>
<script src="{% static 'getshitdone/js/gsdk-radio.js' %}"></script>
<script src="{% static 'getshitdone/js/get-shit-done.js' %}"></script>

<script src="https://apis.google.com/js/platform.js"></script>

<script src="{% static 'recipes/js/base.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>