{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block styles %}
<!--suppress XmlInvalidId -->
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/createRecipe.css' %}" />
{% endblock %}

{% block heading %}
{% trans "New Recipe" %}
{% endblock %}

{% block content %}
<form id="createRecipeForm" class="form" novalidate>
    <div>{% csrf_token %}</div>

    <div class="col-md-4 form-horizontal" id="info-div">
        <div class="form-group">
            <label class="control-label" for="{{ form.name.auto_id }}">{{ form.name.label }}:</label>
            {% render_field form.name class+="form-control" %}
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ form.servings.auto_id }}">{{ form.servings.label }}:</label>
            {% render_field form.servings class+="form-control" %}
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ form.preparationTime.auto_id }}">{{ form.preparationTime.label }}:</label>
            {% render_field form.preparationTime class+="form-control" %}
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ form.cookingTime.auto_id }}">{{ form.cookingTime.label }}:</label>
            {% render_field form.cookingTime class+="form-control" %}
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ form.difficulty.auto_id }}">{{ form.difficulty.label }}:</label>
            {% render_field form.difficulty class+="form-control" %}
        </div>
        <div class="form-group">
            <label class="control-label" for="{{ form.notes.auto_id }}">{{ form.notes.label }}:</label>
            {% render_field form.notes class+="form-control" %}
        </div>
    </div>

    <div class="col-md-8" id="ingredients-div">

        <div id="ingredientHeadings">
            <div class="form-group col-md-6">
                <label>{% trans "Ingredient" %}</label>
            </div>
            <div class="form-group col-md-2 text-center">
                <label>{% trans "Amount" %}</label>
            </div>
            <div class="form-group col-md-2 text-center">
                <label>{% trans "Unit" %}</label>
            </div>
            <div class="form-group col-md-2 text-center">
                <label></label>
            </div>
        </div>

        <div id="ingredients">

            <div class="added-ingredient" hidden>
                <div>
                    <hr class="divider"/>
                </div>
                <div class="form-group col-md-6">
                    <label class="ingredient-label ingredient-name">Test ingredient</label>
                </div>
                <div class="form-group col-md-2">
                    <label class="ingredient-label ingredient-amount text-center">56</label>
                </div>
                <div class="form-group col-md-2">
                    <label class="ingredient-label ingredient-unit text-center">lb</label>
                </div>
                <div class="form-group col-md-2 text-center">
                    <button data-id="removeIngredient" class="btn remove" type="button">
                        <span class="">&#10006</span>
                    </button>
                </div>
            </div>

            <div class="ingredientRow">
                <div class="form-group col-md-6">
                    {% render_field ingForm.product class+="form-control" %}
                </div>
                <div class="form-group col-md-2">
                    {% render_field ingForm.amount class+="form-control" %}
                </div>
                <div class="form-group col-md-2">
                    {% render_field ingForm.unit class+="form-control" %}
                </div>
                <div class="form-group col-md-2 text-center">
                    <button data-id="addIngredient" class="btn btn-primary">
                        <span class="">&#10010</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" id="steps-div">

        <div id="stepsHeadings">
            <div class="form-group col-md-10">
                <label>{% trans "Steps" %}</label>
            </div>
            <div class="form-group col-md-2 text-center">
                <label></label>
            </div>
        </div>

        <div id="steps">

            <div class="added-step" hidden>
                <div>
                    <hr class="divider"/>
                </div>
                <div class="form-group col-md-10">
                    <label class="step-label">Test step</label>
                </div>
                <div class="form-group col-md-2 text-center">
                    <button data-id="removeStep" class="btn remove" type="button">
                        <span class="">&#10006</span>
                    </button>
                </div>
            </div>

            <div class="stepRow">
                <div class="form-group col-md-10">
                    <textarea id="id_step" class="form-control" placeholder="Lorem ipsum dolor sit amet..."></textarea>
                </div>
                <div class="form-group col-md-2 text-center">
                    <button data-id="addStep" class="btn btn-primary">
                        <span>&#10010</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <input type="button" id="saveBtn" class="btn btn-success btn-lg col-md-12" value="Save"/>
    </div>

</form>
{% endblock %}

{% block scripts %}
<script src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'recipes/js/createRecipe.js' %}"></script>
{% endblock %}