{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/login.css' %}" />
{% endblock %}

{% block title %}
{% trans "Login" %} - {{ block.super }}
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}
<div class="login-box col-md-6 col-md-12">
    <h1 class="text-center">{% trans "Login" %}</h1>
    <form class="">
        {% csrf_token %}
        <!--<label for="username" class="label">Username:</label>-->
        <input id="username" type="text" class="form-control" placeholder="{% trans 'username' %}"/>

        <!--<label for="password" class="label">Password:</label>-->
        <input id="password" type="password" class="form-control" placeholder="{% trans 'password' %}"/>

        <input id="loginBtn" type="button" class="btn btn-lg btn-success" value="{% trans 'Login' %}">
    </form>
    <div class="divider"></div>
    <div class="social">
        {% trans "Or sign in with:" %}
        <div class="text-center">
            <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
        </div>
    </div>
</div>
{% endblock %}

{%block scripts %}
<script src="{% static 'recipes/js/login.js' %}"></script>
{% endblock %}
