{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{{ recipe.name }} - {{ block.super }}
{% endblock %}

{% block heading %}
{{ recipe.name }}
{% endblock %}

{% block content %}

<!--<h1>{{ recipe.name }}</h1>-->

<div id="generalInfo" class="row">
    <div class="col-md-6 col-sm-6">
        <label class="col-md-4">{% trans "Servings" %}: </label>
        <span class="text-center col-md-8">{{ recipe.servings }}</span>
    </div>
    <div class="col-md-6 col-sm-6">
        <label class="col-md-4">{% trans "Difficulty" %}: </label>
        <span class="text-center col-md-8">{{ recipe.get_difficulty }}</span>
    </div>
    <div class="col-md-6 col-sm-6">
        <label class="col-md-4">{% trans "Preparation Time" %}: </label>
        <span class="text-center col-md-8">{{ recipe.preparationTime }} {% trans "mins." %}</span>
    </div>
    <div class="col-md-6 col-sm-6">
        <label class="col-md-4">{% trans "Cooking Time" %}: </label>
        <span class="text-center col-md-8">{{ recipe.cookingTime }} {% trans "mins." %}</span>
    </div>
    <div class="col-md-6 col-sm-6">
        <label class="col-md-4">{% trans "Author" %}: </label>
        <span class="text-center col-md-8">{{ recipe.author }}</span>
    </div>
    {% if recipe.notes %}
    <div class="col-md-12 col-sm-12">
        <label class="col-md-1">{% trans "Notes" %}: </label>
        <span class="col-md-11">{{ recipe.notes }}</span>
    </div>
    {% endif %}
</div>

<div id="ingredients" class="row">
    <h4>{% trans "Ingredients" %}</h4>
    {% for ing in ingredients %}
        <div class="col-md-12">
            <label>
                {{ ing.amount }}
                {{ ing.get_unit }}
                {{ ing.product.name }}
            </label>
        </div>
    {% endfor %}
</div>

<div id="steps" class="row">
    <h4>{% trans "Steps" %}</h4>
    {% for step in steps %}
        <div class="col-md-12">
            <div class="col-md-1 col-sm-1">
                <h5>{{ step.number }}</h5>
            </div>
            <div class="col-md-11 col-sm-11">
                <p>{{ step.content }}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{%block scripts %}
{% endblock %}
