{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/viewRecipes.css' %}" />
{% endblock %}

{% block title %}
{% trans "View" %} - {{ block.super }}
{% endblock %}

{% block heading %}
{{ title }}
{% endblock %}

{% block content %}
{% for recipe in object_list %}
    <div class="recipe-container col-md-5 col-xs-12 col-sm-12
                {% if forloop.counter|divisibleby:2 %}pull-right{% else %}pull-left{% endif %}">
        <h3><a href="/recipes/{{ recipe.id }}/" class="recipe-title">{{ recipe.name }}</a></h3>
    </div>
{% endfor %}
{% endblock %}

{%block scripts %}
{% endblock %}
